<div class="ly-guide">
  <div>当前位置
    <span>首页</span>&nbsp;
    >&nbsp;<span>{{navigationName}}</span>
  </div>
  <div class="ly-newhand">
    <ul class="ly-newhand-left">
      <li (click)="listName(item, i)" [class.active]="i=== isShowIndex" *ngFor="let item of listData let i=index">
        <i class="iconfont" [ngClass]="item.icon"></i><span>{{item.name}}</span><i class="iconfont">&#xe65e;</i></li>
    </ul>
    <ul class="ly-newhand-right" *ngIf="0=== isShowIndex">
      <div class="ly-newhand-right-text">
        <h4>规则声明</h4>
        <p> 
          {{$GlobalService.globalJavaResData.title}}是库拉索政府认证的合法互联网络交易公司，特此与{{$GlobalService.globalJavaResData.title}}交易之客户声明，应注意其国家或居住地的相关法律规定，如有疑问应就相关问题，寻求当地法律意见。本公司将不承担任何客户因违反当地交易相关法令所引起之任何责任。
        </p>
        <b></b>
        <h4>一般规则说明</h4>
        <p>1.如果会员怀疑自己的资料被盗用，应立即通知本公司，并更改详细数据，以前的用户名称及密码将全部无效。</p>
        <p>2.会员有责任确保自己的帐户及登入资料的保密性。以用户名称及密码进行的任何网上交易将被视为有效。</p>
        <p>3.您居住的公会赔率时出现的任何网格错误或非故意人为失误，本公司保留改正错误和按正确的赔率结算交易的权力。
          所有地的法律有可能规定网络交易不合法;若此情况属实，本公司将不会批准您使用付账卡进行交易。</p>
        <p>4.每次登入时会员都应该核对自己的账户余额。如对余额有任何疑问，请在第一时间通知本公司。</p>
        <p>5.所有比赛的让球及赔率将不时浮动，交易时的赔率将以确认交易时之赔率为准。</p>
        <p>6.进行过关交易时，每笔交易不能在同一场赛事中拣选超过一个以上的选择。</p>
        <p>7.每笔最高交易金额按 同[场次]及[交易项目]及[会员账号]设定浮动。请各会员根据网站提示限额进行下注，
          任何团体或个人不得注册或拥有多个账号进行下注，如交易金额超过上述设定，本公司有权取消该团体或个人的所有交易。</p>
        <p>8. 所有比赛都必须在预定时间进行否则交易无效。若比赛在赛前被延期或取消，所有交易都被视为无效。</p>
        <p>9. 除滚球外，如果比赛提前举行，在比赛开打时间后所接受之交易均为无效。</p>
        <p>10.
          如发现会员拥有多个帐户或使用非本人数据（包括亲属，友人个人资料），本公司有权无条件取消所有注单并关闭您的账户。本公司有权限制会员只保留其中一个账户。每位会员，包括同一家庭，同一住址，同一电子邮箱地址，同一借记卡/信用卡，同一个银行账户，同一收费账号，同一台计算机（大学，团体，学校，公共图书馆，办公室等），同一IP，同一共享计算机（如学校，公共图书馆或工作场所）。
        </p>
        <p>11.
          客户完全理解并接受{{$GlobalService.globalJavaResData.title}}对此协议进行的任何修改.{{$GlobalService.globalJavaResData.title}}可能在任何时候对此协议进行修改并会公布在会员进入的相关网页上。如果本公司对此协议进行较大的修改，我们会通过合适的方式通知您（比如在网站显眼位置发布修改信息，并会把修改内容贴上去）。阁下有责任经常检查相关条款与政策以确认您接受其内容，如果阁下继续使用本网站将被视为您接受相关条款与政策的修改。
        </p>
        <p>12. 所有在协议条款修改前的投注将适用于修改前的协议条款。所有在协议条款修改后的投注将适用新的协议条款。如果阁下不能接受相关修改，您应该停止使用本网站和/或关闭您的账户。</p>
        <p>13. 关于条款的应用是指您承诺不会因非法目的进入或使用我们网站的服务，软件和信息，您也需确保您的行为不会违反您当地的法律或不会违反您与
          {{$GlobalService.globalJavaResData.title}}间的协议。特别是（协议里所有其它附加声明和保证）您需确保您将履行以下协议:</p>
        <ul class="unordered-list">
          <li>阁下不是法律限制行为能力的个体; </li>
          <li>阁下已年满18岁，您的行为在您当地法律上是属合法的;</li>
          <li>阁下的法定行为只能代表您个人，而不能代表其他人或其他公司;阁下认同您参与我们的服务纯属自愿，须自行承担风险；</li>
          <li>阁下并非嗜赌成性的人；</li>
          <li>阁下不是{{$GlobalService.globalJavaResData.title}}员工，或您不是{{$GlobalService.globalJavaResData.title}}员工亲属;</li>
          <li>阁下是{{$GlobalService.globalJavaResData.title}}员工（任何{{$GlobalService.globalJavaResData.title}}员工亲属），或前雇员（任何前雇员亲属），需已离职超过6个月;</li>
          <li>阁下认同在使用我们服务时须提供给我们某些个人信息进行确认（包括关于支付方式的具体信息）我们将遵循我们的隐私政策对您提供的信息进行管理和控制;</li>
          <li>阁下须自行承担由博彩赢利产生的相关税收;</li>
          <li>
            阁下非以下地区的居民：澳大利亚，比利时，丹麦包括格陵兰和法罗群岛，德国，希腊，香港，以色列，荷兰，菲律宾，新加坡，南非，西班牙，瑞士，台湾，土耳其，美国，意大利和法国，包含瓜德罗普岛，留尼汪岛，马提尼克岛，法属圭亚那，法属波利尼西亚，马约特岛，新喀里多尼亚，圣巴泰勒米，圣马丁岛，圣皮埃尔，密克隆群岛瓦利斯和富图纳群岛;
          </li>
          <li>阁下使用我们网站只能出于个人用途;</li>
          <li>阁下认同并能承担因使用此服务而导致的亏损风险，{{$GlobalService.globalJavaResData.title}}对其损失不承担任何风险;</li>
          <li>阁下的存款不是来自非法或犯罪的活动;</li>
          <li>阁下不得通过使用{{$GlobalService.globalJavaResData.title}}账户从事非法活动，或允许他人使用您的账户从事任何违背您当地和我们法律的活动;</li>
          <li>阁下承诺妥善保管好您的帐户和密码不允许其他人使用。如果您丢失或忘记您的帐户或密码，您须及时联系我们客服部门，我们将发送给您新的安全数据;</li>
          <li>阁下有责任确保自己的帐户及登入数据的保密性，以用户名称及密码进行的任何网上博彩将被视为有效;</li>
          <li>阁下在使用我们的服务，网站，设备，软件或相关信息时，您不得以任何方式妨碍其他会员享用我们提供的服务;</li>
          <li>阁下不得以任何方式窃取其他会员的任何相关信息;</li>
          <li>阁下不得上载或发布任何带有病毒的程序，文件或数据，影响我们网站设备，软件，服务等运作性能;</li>
          <li>阁下不可试图以任何形式修改，反向编译，反向工程或反汇编我们的软件;</li>
          <li>
            阁下不得使用任何设备，自动设备，软件，程序或其它方法（类似于前述的）妨碍或试图干预我们网站提供的服务，设备，软件，网址，信息或任何交易的正常运作，人工智能使用包括没有局限的外挂系统是严格禁止连接服务器。所有的客户服务操作必须是玩家通过使用我们的程序接口进行;
          </li>
          <li>阁下不得在我们网站或设备上或对其他使用者发布任何关于骚扰，侮辱，诽谤，威胁，淫秽，及煽动种族不满的相关非法信息，或者任何构成或怂恿犯罪行为，或引起民事责任事件等等相关违法信息;</li>
          <li>阁下不得主动发起或参与针对{{$GlobalService.globalJavaResData.title}}展开的调查，竞猜，或大量发布连锁信件/垃圾邮件，兜售邮件等活动;</li>
          <li>阁下不可以同时拥有多个账号，如发现客户拥有多个户口，公司有权取消其户口以及投注，本公司保留权利取消或关闭您的账户。本公司有权限制客户只保留其中一个户口;</li>
          <li>阁下认同以上总条款的适用，并认同如果客户行为带有任何嫌疑或违规现象，。{{$GlobalService.globalJavaResData.title}}有权未经事先通知或解释上报给相关同盟协会或当地官方;</li>
          <li>
            阁下不得以任何无风险投注行为（如：打水投注，对冲投注等）或人工智能软件（如：机械软件）进行投注。如发现上述问题，{{$GlobalService.globalJavaResData.title}}将保留终止会员账号使用之权力。如有任何争议问题，{{$GlobalService.globalJavaResData.title}}有最终决定权。无论任何情形，就停止或更改服务或终止会员账户服务所可能产生之困扰，不便或损害，本服务对任何会员或第三人均不负任何责任。
          </li>
        </ul>
        <p>
          在{{$GlobalService.globalJavaResData.title}}，我们在处理支付交易方面，一直保持严谨及专业。为了保障我们会员的利益，避免在多种提款方法中遇到欺诈的情况，我们有可能将会在会员首次大额提款时，需要获得其正确的身份;请留意，这些可能都需要使用传真机或扫描机虽然这些程序并非理想，但是它们都能帮助我们实行严谨的安全控制，且为会员及本公司提供保障我们处理任何投注账户提款前，必须经过核实检查，核查有关会员的身份证明，这是全部提款方法强制性的要求。若并未有提供，提款将不被处理。我们的客服人员将会联系您，跟进有关提款。请容许我们在3个工作日内检查数据，以及顺序核实，然后批准提款要求。
        </p>
        <h4>以下是所要求的资料：</h4>
        <p>阁下需要提供有您照片的身份证，护照，户口簿或驾驶执照的副本给我们。</p>
        <p>副本上的照片必须清楚。</p>
        <p>阁下将只需提供您的身份证明一次给我们，您便能够从您的账户不断提款。事务历史记录证明银行账户及信用卡结算单副本反映最后一个转账到您 {{$GlobalService.globalJavaResData.title}}帐户的成功存款记录。
          最近的（不超过三个月）银行账户及信用卡结算单副本。</p>
        <p>居住证明：1。最近的（不超过三个月）水电费单副本.2。银行账户及信用卡结算单副本反映您在 {{$GlobalService.globalJavaResData.title}}注册的姓名以及地址。</p>
        <p>{{$GlobalService.globalJavaResData.title}}保留在任何时候关闭或冻结会员账号，降低会员账号投注限额的权利。</p>
      </div>
    </ul>
    <ul class="ly-newhand-right" *ngIf="1 === isShowIndex">
      <div class="ly-newhand-right-text">
        <h4>规则接受</h4>
        <p>这些条款与规则将从2013年5月15日起生效。所有之前的条款与规则均被取消.</p>
        <p>
          1。如果客户使用和/或访问www.mr{{$GlobalService.globalJavaResData.title}}.com网站或我们拥有的任何其他网站（简称“网站”）或应用程序的任何部分和/或在网站上注册，则将被视为同意受制于：（1）这些条款与规则;（2）我们的隐私政策;以及（3）下方第二段中提及的有关我们投注或游戏产品的规则（共称“条款”），并被视为接受和理解全部条款。
          请仔细阅读条款，如果您不接受这些条款，请勿使用网站。
          条款亦适用于所有电话投注和通过手机设备进行的投注或游戏，包括可下载至手机设备上的软件。
          当您通过网站进行任何游戏或投注时，将被视为接受并同意受规则的制约，这些规则适用于网站上的相应产品规则可在网站的“说明”部分查看，具体位置如下：
          投注产品的规则可通过点击此处查看;
        </p>
        <p>2.我们可能需
          不时更改这些条款和规则。所有更改均将会公布在网站上。最近更新的条款可以在我们的网站上查看。如果任何条款的变更是您无法接受的，您应该停止使用网站和/或关闭您的账户。但是如果在这些条款与规则的更改生效之后，您还继续使用网站，您将被视为已经接受这些更改。
        </p>
        <p>3.当提及“您”，“您的”或“客户”时，是指任何使用网站或{{$GlobalService.globalJavaResData.title}}服务的人，和/或在 {{$GlobalService.globalJavaResData.title}}注册的客户。</p>
        <p>
          4.{{$GlobalService.globalJavaResData.title}}致力于提供最佳的客户服务。作为该承诺的一部分，{{$GlobalService.globalJavaResData.title}}支持博彩责任点击此处查看。虽然{{$GlobalService.globalJavaResData.title}}将尽力执行其博彩责任政策，但是如果客户仍然继续博彩和/或出于故意逃避现有相关措施的目的而使用网站和/或因非可控原因{{$GlobalService.globalJavaResData.title}}无法执行其相关措施/政策，。{{$GlobalService.globalJavaResData.title}}将不承担任何责任或义务。
        </p>
        <p>
          5。当以下情况出现时，{{$GlobalService.globalJavaResData.title}}保留扣留资金及宣布某个赛事投注无效的权利：（ⅰ）赛事的公平及公正程度受到质疑;（ⅱ）赔率或彩池受到操控;或（ⅲ）赛事被幕后操纵上述情况的证据将基于通过我们任何或全部投注渠道而进行的投注的大小，数量或者模式。监管所涉及体育项目（如果有）的相关机构所作出的决定将是最终裁决。如果客户因任何原因预支了{{$GlobalService.globalJavaResData.title}}的任何资金，我们将保留在向客户进行任何支付前扣回其所欠资金的权利。
        </p>
        <p>6.如有足够证据证明包含相同选项的一连串投注为同一个或同一组人所进行的，。{{$GlobalService.globalJavaResData.title}}有权根据后序调查结果来取消投注或扣留返还资金.7。
          如因官方赛果更改，实际比赛分数有异动或其他原因导致的注单结算错误，本公司有权在开赛时间96小时内依据最终实际分数进行二次结算。</p>
      </div>
    </ul>
    <ul class="ly-newhand-right" *ngIf="2 === isShowIndex">
      <div class="ly-newhand-right-text">
        <h4>投注接受条件</h4>
        <p>1.所有在 {{$GlobalService.globalJavaResData.title}}网站的投注都要符合相关游戏规则以及本协议。</p>
        <p>2.公布赔率时出现的任何打字错误或非故意人为失误，对此产生的后果，{{$GlobalService.globalJavaResData.title}} 不承担责任，有权取消相关投注。</p>
        <p>3.任何情况下，Mr。{{$GlobalService.globalJavaResData.title}}有权拒绝任何投注而不给予解释说明。</p>
        <p>
          4.只有通过{{$GlobalService.globalJavaResData.title}}网站或设备的符合条款与协议的注单被视为有效。无论结果如何，任何以其它形式的投注（通过信函，邮件，传真或其它方式）将不被接受或视为无效客户。的用户名和密码一致，帐户余额足够，投注确认的注单才是有效的投注，而且投注后收到确认信息的注单才被视为有效。注单从屏幕出现确认信息时即开始生效。
        </p>
        <p>5.所有注意符合以下条件都视为有效：用户名和密码输入正确，帐户余额充足.</p>
        <p>6.客户须对所有经由其帐户所产生的交易和行为承担责任，无论该交易是否由客户本人做出。</p>
        <p>7.如果阁下的投注信息正确，阁下是唯一对此投注承担责任的人。一旦本公司确认您的注单，该注单不得取消，撤回或更改，并且该注单会视为您投注的有效证据。</p>
        <p>8.所有{{$GlobalService.globalJavaResData.title}}录入的投注记录将被存入{{$GlobalService.globalJavaResData.title}}事务数据库，并作为任何时间任何交易的有效依据。</p>
        <p>9.所有在{{$GlobalService.globalJavaResData.title}}客户帐户事务历史记录显示确认信息的注单，本公司都视为有效注单。</p>
        <p>10.除滚球投注外，所有投注在比赛开始后的注单 {{$GlobalService.globalJavaResData.title}}有权取消投注。</p>
        <p>11.所有投注时赛事结果已知晓的注单都视为无效注单.{{$GlobalService.globalJavaResData.title}}有权取消此类注单。</p>
        <p>12.赛事结果均在赛事结束后确认，除非在相关体育或赛事规则另有说明赛果。公布72小时后，若对任何赛果有争议，{{$GlobalService.globalJavaResData.title}}将不认可。在赛果公布72小时内，{{$GlobalService.globalJavaResData.title}}只修正人为失误或错误的赛果。
        </p>
        <p>13.如果赛事地点改变，所有在原地点下注的注单一律取消，中立场赛事除外。</p>
        <p>14.比赛输赢将依照相关规则在赛事结束后确认。</p>
        <p>15.{{$GlobalService.globalJavaResData.title}}不认可赛事中断的比赛，及对赛事具有争议的提议。</p>
        <p>16.如果在过关项目中出现无效选项，此注单将会按余下的有效选项调整结算。</p>
        <p>17.客户获知并接受所有赔率及盘口都是不断变化的，只有在投注瞬间才会确定。</p>
        <p>18.如因人为操作错误或系统故障导致赔率或盘口错误，所有发生在这种情况下的注单 {{$GlobalService.globalJavaResData.title}}将保留取消的权力，相关的过关选项亦视为无效选项。</p>
        <p>19.在遇到任何系统技术故障时，如当时无法恢复正常交易，{{$GlobalService.globalJavaResData.title}}有权手动确认滚球危险球投注。届时账户余额将予以调整，以反应该会员当时的投注。</p>
        <p>20.多次同时投注同一赛事的注单将不被认可。{{$GlobalService.globalJavaResData.title}}拥有任何相关投注和交易的最终决定权。</p>
      </div>
    </ul>
    <ul class="ly-newhand-right" *ngIf="3 === isShowIndex">
      <div class="ly-newhand-right-text">
        <h4>管理政策</h4>
        <p>本条款及条件适用于本网站用户，也包括经营者在内。
          我们将努力打造精确的网站信息，但对于网站上任何不准确或不正确的信息不承担任何责任。如用户有任何欺诈或非法行为，或对其他用户有任何欺诈行为，经营者有权利暂停或终止此用户帐户。</p>
        <p>为维护本网站的秩序并规范使用者行为，请使用者遵守以下准则，不得：</p>
        <p>1.伪造身份或冒充他人;</p>
        <p>2.张贴有害，淫秽，诽谤，中伤，非法或具攻击性的恶意内容;</p>
        <p>3.威胁，辱骂，窥探其他用户及侵犯其他用户的合法权利;</p>
        <p>4.通过网上传输或共享妨碍其他用户的病毒和共码;</p>
        <p>5.共享着作权法保护的材料;</p>
        <p>6.曲解{{$GlobalService.globalJavaResData.title}}.com的内容，包括含有恶意内容的横幅，图片及其他通讯信息。</p>
      </div>
    </ul>
    <ul class="ly-newhand-right" *ngIf="4 === isShowIndex">
      <div class="ly-newhand-right-text">
        <h4>隐私政策</h4>
        <p>{{$GlobalService.globalJavaResData.title}}非常尊重客户提供的个人隐私信息。我们将尽全力保护客户个人信息的隐密性，让客户无后顾之忧。以下为我们关于客户个人信息隐私权保护规则的内容 </p>
        <b></b>
        <h4>简介</h4>
        <p>网站服务由{{$GlobalService.globalJavaResData.title}}提供。为了让客户在这能享受到安全愉悦的服务体验，我们征求客户仔细阅读此“隐私政策”，这将涉及到我们使用您个人信息的相关事项。对待客户的个人隐私，本公司本着严谨的态度。</p>
        <p>
          为了让客户享受进一步服务，有时我们可能需要客户提供个人信息。本政策将会涵盖相关客户个人信息的使用事项，同时也涉及相关信息的记录程序。有时，客户接受进一步服务前，可能需要客户提供个人信息（如，姓名，通信地址，邮箱地址，会员编号，电话或手机号码，出生日期或支付信息），任何情况下，我们都将对照此政策来处理您的个人信息。在使用您的个人信息时我们将适用现行的法律条款，并竭力采取最佳最稳妥的方式处理。
        </p>
        <p>同时，我们也将监控您在本网站的活动内容，可能包括您的访问量，访问页面，网络服务的原始域名等，这将有助于我们 建立客户个人文件数据。其中部分资料将被聚合统计，意旨我们将不能对其单独进行检验。</p>
        <h4>目的</h4>
        <p>
          阁下在{{$GlobalService.globalJavaResData.title}}开户时，我们将要求您提供某些个人信息，如;姓名，通信地址，邮箱地址，密码及确认您是否已年满18周岁（{{$GlobalService.globalJavaResData.title}}只接收达到法定年龄18周岁或以上的客户）。我们可能需使用您的个人信息用来确认您的各种金融交易，定期发送公司实时简讯，提供客服支持及完善全面的博彩服务给您。如果您想中止接收公司实时简讯，您可根据提示在简讯接收选项做出相关选择。另须注意，您注册的姓名必须是您本人姓名，您所注册的数据为真实有效数据，因为这将用于随后的交易验证及前述的其它用途。
        </p>
        <h4>访问信息</h4>
        <p>在阁下访问我们网站页面的过程中，将会有个小的文本夹“信息记录程序”存储在您的计算机。很多网站都有类似设置，因为此设置对网站发行商是非常有用的，譬如可以记录该计算机（或用户）是否曾浏览过此网站。</p>
        <p>{{$GlobalService.globalJavaResData.title}}将会对客户“信息记录程序”及IP地址进行存储记录，这些数据将有助于我们完善和提高我们的服务，并有助于我们分析客户的完整信息。这类数据并不是用于客户个人信息的建文件，因此将被定期清除。</p>
        <h4>机密性</h4>
        <p>
          {{$GlobalService.globalJavaResData.title}}尽全力保护客户提供给我们的个人资料，不会蓄意将该数据泄漏给外人，除非此政策条款里有明文规定。所有{{$GlobalService.globalJavaResData.title}}员工都被要求遵循该政策条款。员工有义务严密的保守客户的个人信息，即使员工离开{{$GlobalService.globalJavaResData.title}}后仍须坚守此义务。阁下本人也须保护好您的个人信息。阁下应严守您的帐户密码，不应将此露露给其他人。
        </p>
        <h4>客户信息的使用和存储</h4>
        <p>
          当阁下提供任何个人资料给{{$GlobalService.globalJavaResData.title}}，我们对您负有关于如何使用您个人资料的法定义务，我们须有正当理由才可征集您的数据（关于为何征集客户个人资料，我们特定页面已有说明），告知征集您数据的用途以及如有必要将其传给其他任何人，我们将会通知您本人。我们使用客户个人资料的用途包括：用于确认您的身份以及您的账户行政服务统计分析欺诈预防及监测通知您可能将影响到您的我们网站或服务的任何更改安全审核服务完善正如下所列，如果我们因其它用途需要到您的个人信息，我们将会提前通知您。我们可能联系您关于您申请的我们任何服务功能，我们来信确认您选择接收更多的公司信函邀请您参加关于我们服务的调查活动（自愿加入）出于市场推销目的，并且您已特别认同（见下面）我们将一直严守客户个人信息不被外泄，除非有法定要求（如;政府
          门及执法机构要求，或网站上带有攻击性或不妥的内容）或关系到我们的业务合作伙伴。一般情况我们只在{{$GlobalService.globalJavaResData.title}}内部使用客户的个人信息。然而，有时我们可能需借助第三方来处理客户的信息（如，网站主机或维护服务的提供商），我们将会要求第三方严格遵守我们的约定，要求他们将不得将客户个人信息用于他们的商业用途。在客户所申请使用我们服务这段期间，我们将一直保存您的个人信息于后台系统，直到申请期满或客户想注销会员账户，我们将把您的个人资料作删除处理。取决于数据保护立法与监管要求。出于安全原因，如果客户使用我们网站服务满一年，我们将会保存其信息记录文件（包括信息内容，会员姓名，时间和日期）。另外，如果客户并未注册为我们的会员，但参加了{{$GlobalService.globalJavaResData.title}}的其它服务（如;竞赛活动），其个人信息将保存到该服务顺利完成。
        </p>
        <h4>客户数据信息保护</h4>
        <p>
          我们将使用高科技系统管理和保护客户个人信息数据，如只有使用客户独一无二的用户名和密码才可进入该客户账户客户信息数据储存在安控服务器内我们尽全力保护客户个人信息数据安全，但客户须认同目前网络并非百分百安全，因此，我们并不能保证客户发送信息给我们的网络传输过程的安全和完整性，也不担保我们发送给客户网络传输过程的安全和完整性。
        </p>
        <h4>保密限制</h4>
        <p>
          在某些情况下出于安全，立法和规章条例要求，。{{$GlobalService.globalJavaResData.title}}不得不透漏客户个人信息。我们将尽全力保护客户个人信息，除非发生以下情况：出于担保，传审或其它法规要求，Mr。{{$GlobalService.globalJavaResData.title}}才透露客户信息。出于正当理由行使Mr.
          {{$GlobalService.globalJavaResData.title}}权利，需要对某客户或实体进行确认，联系或采取法定措施。另外，如果涉及诈欺，知识产权侵犯，权利侵犯，或其它非法行为或可能导致责任牵连的行为的调查，我们相信我们有必要和理由透露客户的信息（如，姓名，居住地址，城市，邮编，国家，电话号码，邮箱地址和公司）给{{$GlobalService.globalJavaResData.title}}第三方代理。
        </p>
        <h4>客户信息的接收者</h4>
        <p>
          除了上述法定要求说明，我们还可能将您的个人信息透露给我们的工作人员，其他相关公司的工作人员或{{$GlobalService.globalJavaResData.title}}的合作伙伴和为{{$GlobalService.globalJavaResData.title}}客户提供相关服务给我们的第三方网络服务供货商（包含但不局限于安全，信用和风险审核机构）。第三方网络服务供货商可以检查我们提供在公共数据库或私人数据库的任何详细数据及有机会获得和保留检查记录。我们同样可以通过第三方网络服务供货商得到您的个人信息。如果您提供您的个人资料给我们或我们从第三方网络服务供货商中收到您的个人资料，代表您已经同意我们可以处理，使用，记录和透露您的个人信息。我们保留权利，根据您或第三方网络服务供货商提供的信息，在任何时候冻结或关闭您的{{$GlobalService.globalJavaResData.title}}会员账户。
        </p>
        <h4>监控</h4>
        <p>
          出于服务质保，防止诈骗和法规遵循方面的原因，我们将对客户的通信记录进行保存和监控（如电话和邮件记录）。客户有权要求我们勿将其个人信息直接用于市场推销。如果您想行使此权利，客户应准备以下;书面提交申请提供可以证明您身份的信息（如，账号，用户名，注册信息）写明个人信息哪里不正确及需修正的内容。隐私权保护规则的认同一旦阁下在{{$GlobalService.globalJavaResData.title}}注册开户就代表您认同此隐私权保护规则条款。我们将定期更新此政策条款，因此我们建议客户您也定期进行查阅。如果我们对该政策有所更改，我们将在相关网页上发布消息。政策更改后，客户持续使用{{$GlobalService.globalJavaResData.title}}网站将被视为客户认同该政策的更改。如果客户不接受此政策的更改，您可以选择停用我们的网站服务。如果该政策条款与其它局部特殊条款产生分歧，将适用局部特殊条款。
        </p>
      </div>
    </ul>
    <ul class="ly-newhand-right" *ngIf="5 === isShowIndex">
      <div class="ly-newhand-right-text">
        <h4>身份核定与规定</h4>
        <p>当客户遇到无法自行通过身份验证或其它特殊问题无法正常解决，需要通过人工服务方法进行处理时，我们将对您的身份进行核实。当需要您发送身份证数据时，针对身份证数据的内容及格式要求如下：</p>
        <p>1.证件要求原件拍摄，照片不得涂改，需确保完整，水印，文字，图片，证件号码清晰可辨。</p>
        <p>2.IC版证件需要同时提交正反二面。</p>
        <p>3.如是一代身份证，证件上需有有效盖章。</p>
        <p>4.证件有效期在3个月内的不予受理。</p>
        <p>5.户口本需要正面打开盖有两个章的那页，及本人信息的那页。</p>
        <p>6.申请人帐户真实姓名和证件号码与提交的证件信息一致。</p>
        <p>7.证件都需要彩色原件的数码照片。</p>
        <h4>温馨提示</h4>
        <p>1.如果您没有身份证，则可提供在有效期内的临时身份证，户口本，护照，军人身份证，武装警察身份证，港澳台身份证，港澳台通行证等有效证件的清晰照片。</p>
        <p>2.您可以使用数码相机，手机或较高像素摄像头拍下身份证，并上传到您的计算机保存为JPG，GIF，PNG或JPEG的格式，就可以是有您的电子邮箱发送邮件给我们了。</p>
        <p>3.发送证件照片时，请说明您需要处理的事项，此次发送照片，仅会处理您此次所需处理的事项.{{$GlobalService.globalJavaResData.title}}绝不会泄露您的证件信息，请您放心！</p>
      </div>
    </ul>
    <ul class="ly-newhand-right" *ngIf="6 === isShowIndex">
      <div class="ly-newhand-right-text">
        <h4>投注规则与规定</h4>
        <p>|说明|更多盘口介绍请查阅页面 游戏玩法
          某些赛事状语从句：赌盘的规则有所不同，本网站中每项特定赛事或赌盘/投注类型的规则已在下面的“特定赛事/赌盘投注规则“中列出。下列一般规则适用于所有赛事与赌注/投注类型，在投注中须完全遵守。在适用的情况下，网站所公布的”条件与规则“中设定的规定和定义应适用于本“投注规则与规定”。
        </p>
        <b></b>
        <h4>一般投注规则与规定</h4>
        <p>
          公司提供的所有投注信息均出于善意。但是，公司不对日期，时间，地点，对手，投注赔率，结果，统计数据，球队制服（显示于实时视讯）或投注信息的相关错误或遗漏承担任何责任。公司保留更正任何明显错误的权利，并会采取所有合理的措施来确保以诚信透明的方式管理赌盘。
        </p>
        <p>如果赛事于预定时间前开始，则只有在赛事（不包括特定实时投注）开始前投注的项目方为有效。如果赌盘没有于正确时间关闭或中止，则公司保留避免投注者于实际开始时间（不包括特定实时投注）后投注的权利。</p>
        <p>如果对赛事或队伍名称有任何疑问，请以英文名称为准。</p>
        <p>公司保留随时修改相关规则的权利。任何此类修改一经网站发布将实时生效。</p>
        <h4>赛事中止与延期</h4>
        <p>如果赛事没有于预定的开始日期举行，并且没有在个别体育规则所原订的完成日期内结束，除了无条件决定投注结果的赌盘外，其它所有投注均作废。</p>
        <p>如果赛事如期开始但稍后中止，并且没有在个别体育规则所原订的完成日期内结束，除了无条件决定投注结果的赌盘外，其它所有投注均作废。</p>
        <h4>场地变更</h4>
        <p>如果没有按照 “相关赛事投注规则” 处理场地变更，则：对于团队赛事，如果在赌盘开放后原定场地发生变更，并且新场地是原先客队的主场，所有投注均作废对于非团队赛事，如果在赌盘开放后原定场地发生变更，所有投注仍视为有效。
        </p>
        <h4>赛事期间</h4>
        <p>如果赛事预定的期间发生变更，所有投注均作作。任何发生于伤停时间的事件，均被视为常规时间结束时发生的事件，例如，足球比赛上半场伤停时间的得分将被视为在比赛进行到45分钟时的得分。</p>
        <h4>比赛结果</h4>
        <p>
          必要时，无论后来是否出现取消资格或更改结果的情况，颁奖仪式的排名即为正式结果。如果没有颁奖仪式，无论后来是否出现取消资格或更改结果的情况，公司将根据相关管理机构在赌盘结算时的正式结果来决定投注结果。如果没有正式结果，公司将参考赌盘结算时的已知证据来决定投注结果。
        </p>
        <p>赌盘通常会在赛事结束不久后便开始结算。完全出于服务客户的目的，公司会于正式结果发布前结算某些赌盘。如果赛事赌盘结算错误，公司保留推翻结算结果的权利。</p>
        <p>如果无法确定赛事结果，公司保留无限期暂停赌盘结算的权利。对于已结算的投注项目，公司将不承认赛事开始时间72小时后发生的任何赛事结果修改或变更。</p>
        <p>当本公司会员网所提供之成绩与官方成绩出现分歧，本公司将以现场录像为判定成绩的标准。如果有关赛事没有相关录像为证，本公司将以该赛事官方网站作为判定成绩的标准。</p>
      </div>
    </ul>
  </div>
</div>
