<div class="quanwang-bottom">
  <div class="advantage-container seekAdvice-bottom page-opacity">
    <div id="foot_information" class="ybp-container">
      <div>
        <div class="ybp-con-box">
          <ul>
            <li>
              <div class="li-son-box">
                <div class="li-miao"><span class="miao-span">{{num60}}</span><span
                  class="miao-text">秒</span></div>
                <img src="{{$GlobalService.globalJavaResData.cdnValidKey2}}/tyc/img/image-scale-active@2x.png">
                <div class="h-box-shodow" [style.background-image]="$GlobalService.globalJavaResData.cdnValidKey2 + '/tyc/img/image-table@2x.png' | bgUrl"></div>
                <div class="box-left">
                  <div>
                    <div></div>
                  </div>
                </div>
                <div class="box-right right-ts">
                  <div [class.ani-1]="isYbp">
                    <div></div>
                  </div>
                </div>
              </div>
              <div>
                <h3>平均存款时间</h3>
                <p>AVERAGE TIME OF DEPOSIT</p>
              </div>
            </li>
            <li>
              <div class="li-son-box">
                <div class="li-miao"><span class="miao-span">{{num80}}</span><span
                  class="miao-text">家</span></div>
                <img src="{{$GlobalService.globalJavaResData.cdnValidKey2}}/tyc/img/image-scale-active@2x.png">
                <div class="h-box-shodow" [style.background-image]="$GlobalService.globalJavaResData.cdnValidKey2 + '/tyc/img/image-table@2x.png' | bgUrl"></div>
                <div class="box-left left-ts">
                  <div [class.ani-4]="isYbp">
                    <div></div>
                  </div>
                </div>
                <div class="box-right right-2">
                  <div [class.ani-2]="isYbp">
                    <div></div>
                  </div>
                </div>
              </div>
              <div>
                <h3>合作支付平台</h3>
                <p>PAYMENT PLATFORM PARTNERS</p>
              </div>
            </li>
            <li>
              <div class="li-son-box">
                <div class="li-miao"><span class="miao-span">{{num90}}</span><span
                  class="miao-text">秒</span></div>
                <img src="{{$GlobalService.globalJavaResData.cdnValidKey2}}/tyc/img/image-scale-active@2x.png">
                <div class="h-box-shodow" [style.background-image]="$GlobalService.globalJavaResData.cdnValidKey2 + '/tyc/img/image-table@2x.png' | bgUrl"></div>
                <div class="box-left">
                  <div>
                    <div></div>
                  </div>
                </div>
                <div class="box-right right-ts">
                  <div [class.ani-1]="isYbp">
                    <div></div>
                  </div>
                </div>
              </div>
              <div>
                <h3>平均取款时间</h3>
                <p>AVERAGE TIME OF WITHDRAWAL</p>
              </div>
            </li>
            <li>
              <div class="li-son-box li-box-ts">
                <div class="li-miao"><span class="miao-span">{{num14}}</span><span
                  class="miao-text">家</span></div>
                <img src="{{$GlobalService.globalJavaResData.cdnValidKey2}}/tyc/img/image-scale-active@2x.png">
                <div class="h-box-shodow" [style.background-image]="$GlobalService.globalJavaResData.cdnValidKey2 + '/tyc/img/image-table@2x.png' | bgUrl"></div>
                <div class="box-left">
                  <div>
                    <div></div>
                  </div>
                </div>
                <div class="box-right right-ts3">
                  <div [class.ani-7]="isYbp">
                    <div></div>
                  </div>
                </div>
              </div>
              <div>
                <h3>合作游戏平台</h3>
                <p>GAMING PROVIDER PARTNERS</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="adv-bot">
      <div class="bot-item">
        <div class="item-left" [style.background-image]="$GlobalService.globalJavaResData.cdnValidKey2 + '/'+ $GlobalService.globalJavaResData.projectName + '/img/fuwu_kuan.png' | bgUrl">
          <div class="left-icon">
            <img src="{{$GlobalService.globalJavaResData.cdnValidKey2}}/tyc/img/icon-quantity-games@2x.png" alt="">
          </div>
          <div class="right-dis">
            <div class="r-dis-title">
              更专业
            </div>
            <div class="r-dis-info">
              每天为您提供近千场精彩体育、电竞赛事，更有真人、彩票、电子游戏等多种娱乐方式 选择，让您拥有完美游戏体验。
            </div>
          </div>
        </div>
        <div class="item-left" [style.background-image]="$GlobalService.globalJavaResData.cdnValidKey2 + '/'+ $GlobalService.globalJavaResData.projectName + '/img/fuwu_kuan.png' | bgUrl">
          <div class="left-icon">
            <img src="{{$GlobalService.globalJavaResData.cdnValidKey2}}/tyc/img/icon-safe-security@2x.png" alt="">
          </div>
          <div class="right-dis">
            <div class="r-dis-title">
              更安全
            </div>
            <div class="r-dis-info">
              独家开发，采用128位加密技术和严格的安全管理体系，客户资金得到最 完善的保障，让您全情尽享娱乐、赛事投注，无后顾之忧！
            </div>
          </div>
        </div>
      </div>

      <div class="bot-item" style="margin-top: 20px;">
        <div class="item-left" [style.background-image]="$GlobalService.globalJavaResData.cdnValidKey2 + '/'+ $GlobalService.globalJavaResData.projectName + '/img/fuwu_kuan.png' | bgUrl">
          <div class="left-icon">
            <img src="{{$GlobalService.globalJavaResData.cdnValidKey2}}/tyc/img/icon-all-platform@2x.png" alt="">
          </div>
          <div class="right-dis">
            <div class="r-dis-title">
              更便捷
            </div>
            <div class="r-dis-info">
              引领市场的卓越技术，自主研发了全套终端应用，让您畅享 Web、H5，让您随时随地，娱乐投注随心所欲！7×24小时在线 客服提供最贴心、最优质的服务。
            </div>
          </div>
        </div>
        <div class="item-left" [style.background-image]="$GlobalService.globalJavaResData.cdnValidKey2 + '/'+ $GlobalService.globalJavaResData.projectName + '/img/fuwu_kuan.png' | bgUrl">
          <div class="left-icon">
            <img src="{{$GlobalService.globalJavaResData.cdnValidKey2}}/tyc/img/icon-fast-payment@2x.png" alt="">
          </div>
          <div class="right-dis">
            <div class="r-dis-title">
              更快速
            </div>
            <div class="r-dis-info">
              最新技术自主研发的财务处理系统，真正做到极速存、取、转。独家网络优 化技术，为您提供一流的游戏体验，最大优化网络延迟。
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="adv_bottom">
  <img src="{{$GlobalService.globalJavaResData.cdnValidKey2}}/{{$GlobalService.globalJavaResData.projectName}}/img/home_down01.png" alt="">
  <img src="{{$GlobalService.globalJavaResData.cdnValidKey2}}/{{$GlobalService.globalJavaResData.projectName}}/img/home_down02.png" alt="">
  <img src="{{$GlobalService.globalJavaResData.cdnValidKey2}}/{{$GlobalService.globalJavaResData.projectName}}/img/home_down03.png" alt="">
  <img src="{{$GlobalService.globalJavaResData.cdnValidKey2}}/{{$GlobalService.globalJavaResData.projectName}}/img/home_down04.png" alt="">
</div>-->

