.index_activityDetail_body{
    background: #eee;
    .index_favourable_img{
        width: 1242px;
        margin: 0 auto;
        display: block;
    }
    .ruleText{
        background: #fff;
        padding-left: 61px;
        line-height: 1.6;
        width: 1242px;
        margin: 0 auto;
        color: rgb(68,68,68);
        padding-bottom: 26px;
        padding-top: 2px;
        span{
            font-size: 15px;
            &:last-child{
                border-bottom: 1px solid #444;
                cursor: pointer;
            }
        }
    }
    .apply-port-box{
        position: fixed;
        top: 200px;
        right: 12px;
        div{
            width: 140px;
            height: 40px;
            line-height: 40px;
            box-sizing: border-box;
            background: linear-gradient(-90deg, #b10000 18%, #ff3d3e 100%);
            color: #fff;
            // padding: 10px 30px;
            text-align: center;
            font-size: 20px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
        .apply-port{
            position: absolute;
            top: -4px;
            right: 0;
            z-index: 10;
            cursor: pointer;
        }
        .apply-port2{
            // box-shadow: 0 6px 0 #146F54;
            position: absolute;
            top: 0;
            right: 0;
            background: #711111;
        }
        .apply-port3{
            top: -7px;
        }
    }

    .dialog-apply{
        background: #eee;
        width: 100%;
        padding: 40px 0;
    }
    .font18{
        font-size: 18px;
    }
    .dialog-apply-content{
        width: 500px;
        margin: 0 auto;
        background: #fff;
    }
    .dialog-apply-content .dialog-apply-title{
        width: 480px;
        color: #000;
        padding: 28px 0;
        margin: 0 auto;
        margin-bottom: 40px;
        border-bottom: 1px solid #eee;
        text-align: center;
    }
    .dialog-apply-content .apply-item{
        width: 300px;
        margin: 0 auto;
        position: relative;
    }
    .dialog-apply-content .apply-item .activity-warning{
        text-align: left;
        color: red;
        height: 20px;
    }
    .dialog-apply-content .apply-item input{
        height: 36px;
        width: 100%;
        background: #f1f1f1;
        color: #888;
        font-size: 14px;
        border: none;
        box-sizing: border-box;
        padding: 0 15px;
    }
    .dialog-apply-content .apply-btn {
        padding-top: 20px;
        padding-bottom: 60px;
    }
    .dialog-apply-content .apply-btn input{
        background: linear-gradient(-90deg, #b10000 18%, #ff3d3e 100%);
        color: #fff;
        cursor: pointer;
    }
    .dialog-apply-content  .activity_code input{
        width: 40%;
        vertical-align: middle;
    }
    .activity_code #activity_imgcode,#activityDetail_imgcode{
        height: 36px;
        vertical-align: middle;
        margin-left: 10px;
    }
    // 一般优惠条例及规则弹框
    .dialog-rule,.dialog-rule-modal{
        position: fixed;
        // width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }
    .dialog-rule-modal{
        background: rgba(0,0,0,.5);
    }
    .dialog-rule-content{
        position: absolute;
        z-index: 101;
        background: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 950px;
        border-radius: 5px;
        .dialog-rule-title{
            background: #333;
            text-align: center;
            color: #fff;
            height: 50px;
            line-height: 50px;
            span{
                font-size: 22px;
            }
            .zm-icon-close{
                color: #ccc;
                cursor: pointer;
                position: absolute;
                top: 0px;
                right: 20px;
                font-size: 16px;
            }
            .zm-icon-close:hover {
                transform: rotate(90deg);
                transition: transform .5s;
                color: #cc0000;
              }
        }

        .dialog-rule-item{
            padding: 35px 42px 42px;
            div{
                display: flex;
                span{
                    font-size: 15px;
                    color: rgb(68,68,68);
                    line-height: 1.6;
                    &:first-child{
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}


