.login-password-safetyLogin input {
  text-indent: 10px;
}

.forgot-tips {
  margin-left: 20px;
  margin-top: 12px;
}

.forgot-tips a {
  text-decoration: underline;
  cursor: pointer;
}

.yanzFrame {
  text-align: left;
}

.yanzFrame p {
  margin: 20px;
}

.yanzFrame p input {
  border: none;
  text-indent: 5px;
  border-bottom: 1px solid #dedede;
}

.yanzFrame p button {
  padding: 3px 15px;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  border: none;
  margin-left: 20px;
  background: linear-gradient(#47a3ec, #0674cc);
}

.login-password-safetyLogin .button-box {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

.login-password-safetyLogin .button-box button {
  width: 172px;
  height: 34px;
  border-radius: 5px;
  background: linear-gradient(#47a3ec, #0674cc);
  border: none;
  color: #fff;
  font-size: 14px;
}

.login-password-safetyLogin .button-box button.active {
  background: #dedede;
  color: #000;
  cursor: not-allowed;
}
