<!-- <h3>兑换规则</h3>
<div class="content">
  <h4>一般规则</h4>

下列一般规则适用于所有赛事与赌盘／投注类型，在投注中须完全遵守。在适用的情况下，网站所公布的“条件与条款”中设定的规定和定义应适用于本“规则与规定”。

<h4>一般事项</h4>

本公司的所有投注信息都是出于诚意提供的。 不过，本公司不对有关日期、时间、地点、竞争对手、赔率、结果、统计数据、团队制服（显示在实时视频中）或其它投注信息的任何错误或遗漏负责。 本公司保留纠正任何明显错误的权利，并且应当采取所有合理行动确保以诚信透明的方式管理盘口，盘口定义为针对某一体育赛事所提供的不同的投注类型。 公司保留做出最终性决定的权利。

如果一项赛事在预定时间之前开始，则只有该项赛事开始之前所做投注（除指定的现场投注以外）会被视为有效注码，赛事的定义是两个团队或个人间有组织的体育比赛或活动。 如果一个盘口未在正确时间关闭或中止，则本公司有权取消在实际开始时间之后进行的所有投注（除指定的现场投注以外）。

如果网站对赛事所用的英语和非英语名称之间有任何差异，以英语版本为准。

在任何时候，客户有责任了解比赛分数和所有相关的比赛信息，并且建议客户在下注之前确认比赛状况。

本公司有权在任何时候出于任何原因修改这些规则。一旦在网站上发布，任何此类修改都是具有约束性和立即生效的。

客户承认网站上提供的当前分数、所用时间及其它数据虽然是由第三方以“直播”形式提供，但仍会有时间延迟以及/或者可能不准确的情况，并且根据这些资料做任何投注时，客户应自行承担所有风险。 本公司提供这些数据时，不保证其准确性、完整性或及时性，并且不对客户因依赖这些数据而遭受的任何损失（直接或间接损失）负责。

<h4>赛事中止与延期</h4>

如果一项赛事未在预定开始日期开始，并且未按特定体育规则的规定，在原先预定的完成日期完成，则所有的注码都将无效，除了对已获得无条件确定的盘口所做的投注以外。

如果一项赛事已经开始，但之后又中止，并且未按特定体育规则的规定，在原先预定的完成日期完成，则所有的注码都将无效，除了对无条件决定结果的盘口所做的投注以外。

如果一项赛事未按特定体育规则的规定，在原告预定的完成日期完成，而正式的比赛结果得以宣布，或者特定赛事的相关主管机构宣布了一个结果，则本公司有权认定这一比赛是正式有效的。 在此方面，本公司的决定是最终和具有结束性的。

<h4>比赛结果</h4>

必要时，颁奖仪式的位次将被视为是正式赛果，不论之后是否出现取消或更改赛果的情况。 如果没有颁奖仪式，赛果将会依据相关主管机构在盘口结算时提供的官方结果而定，不论之后是否出现取消或更改赛果的情况。 如果没有提供适用的官方结果，则将依据到盘口结算时适用且已知的证据来确定赛果。

盘口通常会在一项赛事结束后不久尽快进行结算。 完全出于服务客户的目的，一些盘口可能会在正式结果公布之前结算。 如果一个盘口结算错误，本公司有权撤销结算。 如果对任何赛果有不确定，本公司有权无限期暂停任何盘口的结算。

对于已经结算的注码，自赛事开始时间起的72个小时后，如赛果有任何修正或变更，本公司不会予以承认。

当官方赛果与本公司网站赛果版块公布的赛果之间有冲突时，应当通过参考本公司的有关赛事视频记录来确定正确的结果，以便解决冲突。 然而，如果没有此类适用的视频记录，应当根据特定赛事的相关主管机构在其官方网站上公布的赛果确定正确的结果。 如果该官方网站无法提供这一结果或者官方网站公布的赛果明显有错，则本公司有权做出决定/修正，以便确定最终的结果。 在此方面，本公司的决定是最终和具有结束性的。

<h4>比赛取消政策</h4>

1. 本公司网站上针对电子竞技赛事的开赛日期及时间仅作参考，不保证一定准确。如果某一比赛暂停或延期，而且未在实际确定的开赛时间之后一定时间内（该时间期限为线下比赛12小时，线上赛8小时）重新开始，则有关该场比赛的注单无效并予以退款。例外情况是，不管比赛是否暂停或延期，有关某一比赛队伍/选手锦标赛晋级或夺冠的注单始终有效。

2. 如果选手/战队的名称被拼错，所有下注金额仍有效，除非明显是错误的对象。如果在官方比赛中选手以错误的化名或低阶账户参赛，结果仍然有效。若存在参赛选手并非战队的官方选手（或其中之一），并未在公布赛程前公告参赛人员变动，本公司有权取消该场的注单并予以退款。

3. 所有的下注金额会根据相关比赛管理单位所公布的官方结果结算。如果没有打和的选项，那延长时间就会生效（若有）。

4. 当仅提供胜负选项的盘口遇到最终比赛结果为平局时（若有加时，则最后一个加时的结果视为最终比赛结果），则该盘口的所有注单无效并予以退款。

5. 本公司保留对比赛，盘口和注单的取消，退款政策的最终解释权。
</div> -->
<img style="max-width: 1200px;" [src]="$GlobalService.globalJavaResData.cdnValidKey2 + '/'+ $GlobalService.globalJavaResData.projectName + '/img/PC_dhgz.jpg'">