<div class="ly-guide">
	<div>当前位置
		<span>首页</span>&nbsp; >&nbsp;
		<span>{{navigationName}}</span>
	</div>
	<div class="ly-newhand">
		<ul class="ly-newhand-left">
			<li (click)="listName(item, i)" [class.active]="i=== isShowIndex" *ngFor="let item of listData let i=index">
				<i class="iconfont" [ngClass]="item.icon"></i><span>{{item.name}}</span><i class="iconfont">&#xe65e;</i></li>
		</ul>
		<ul class="ly-newhand-right" *ngIf="0=== isShowIndex">
			<div class="ly-newhand-right-text">
				<p>励扬太阳城拥有多元化的产品，使用最公平、公正、公开的系统，在市场上的众多博彩网站中，我们自豪的提供会员最优惠的回馈，给予合作伙伴最优势的营利回报! 无论您拥有的是网络资源，或是人脉资源，都欢迎您来加入励扬太阳城合作伙伴的行列，无须负担任何费用就可以开始无上限的收入。励扬太阳城，绝对是您最理智的选择!</p>
				<h4>注册申请</h4>
				<p>请随时向励扬太阳城客服、或在线留言提出申请，并确实填写联系方式，一定要确实留下有效电邮。 励扬太阳城会评估审核联盟申请讯息，并将通知申请结果，包括您的注册帐号、及链接。立即联络我们!</p>
				<p>注：彩票类游戏不参与享受佣金</p>
				<h4>★温馨提示：</h4>
				<p>1.如何计算月有效会员？</p>
				<p>一月内有效投注达到500或以上即可成为有效会员。</p>
				<p>2.如果当月盈利达到要求，但有效会员未达到申请要求,怎么办？</p>
				<p>一月有效或盈利达到要求，有效会员未达到申请要求，则降级申请。</p>
				<h4>★佣金结算：</h4>
				<p>您不用投入任何的资金。您的用户的赢利不用您直接承担，都由公司为您承担，您不用承担任何客户赢钱的风险，佣金每个月的1号12点结算，结算完毕后，10号前派送至您指定收款银行帐号。</p>
				<p>当月佣金：指（上月1号12点到本月1号12点的总纯收入-之前累计的负纯收入）*可享受比例。</p>
				<p>最终总纯收入: 指 （总杀数-管理费-红利费用-洗码费用）*退佣比例=最终总纯收入 （管理费=总杀数*12%作为平台租赁费和客服管理费）</p>
				<p>请紧记任何使用不诚实的方法以骗取佣金将会永久冻结账户，所有佣金一概不予发还。</p>
				<p>例1: 加入励扬太阳城代理计划后单月佣金达到100元，达到最少5个活跃用户，即可申请提款，您的所有提款将在24小时内到达指定收款银行帐号。</p>
				<p>例2: 达到5个活跃会员的要求，但佣金少于人民币100元，将会累计到下一个月的佣金一起发放。</p>
				<p>例3: 假若本月佣金出现负数，将累计下个月进行计算。</p>
				<h4>代理功能</h4>
				<p>我们为您提供完善的代理管理平台，您可以在不受限制的推荐直接下线，并且实时了解直接下线用户输赢，投注，存款，取款情况。推荐人有一个专属您的推荐链接，您可以直接将您的链接在网站，论坛，博客，群里面发送您的链接，只要通过您的链接注册的会员都算是您的下线。推广方式多种多样。</p>
				<h4>贴心服务</h4>
				<p>24小时值班在线客服和客服电话服务，您可以直接联系网站在线客服或直接拨打客服电话。立即加盟励扬太阳城推荐人队伍，快速开创一番属于自己的事业！我们将以最低的门槛和最丰厚的回报助您成功！</p>
			</div>
		</ul>
		<ul class="ly-newhand-right" *ngIf="1 === isShowIndex">
			<div class="ly-newhand-right-text">
				<h4>一、"励扬太阳城"对代理联盟的权利与义务</h4>
				<p>"励扬太阳城"的客服部会登记联盟的会员并会观察他们的投注状况。联盟及会员必须同意并遵守"励扬太阳城"的会员条例，政策及操作程式。"励扬太阳城"保留拒绝或冻结联盟/会员账户权利。</p>
				<p>代理联盟可随时登入介面观察旗下会员的下注状况及会员在网站的活动概况。 "励扬太阳城"的客服部会根据代理联盟旗下的会员计算所得的佣金。</p>
				<p>"励扬太阳城"保留可以修改合约书上的任何条例，包括: 现有的佣金范围、佣金计划、付款程式、及参考计划条例的权力，"励扬太阳城"会以电邮、网站公告等方法通知代理联盟。代理联盟对于所做的修改有异议，代理联盟可选择终止合约，或洽客服人员反映意见。 如修改后代理联盟无任何异议，便视作默认合约修改，代理联盟必须遵守更改后的相关规定。</p>
				<h4>二、代理联盟对"励扬太阳城"的权力及义务</h4>
				<p>代理联盟应尽其所能，广泛地宣传、销售及推广"励扬太阳城"，使代理本身及"励扬太阳城"的利润最大化。代理联盟可在不违反法律下，以正面形象宣传、销售及推广"励扬太阳城"，并有责任义务告知旗下会员所有"励扬太阳城"的相关优惠条件及产品。</p>
				<p>代理联盟选择的"励扬太阳城"推广手法若需付费，则代理应承担该费用。</p>
				<p>任何"励扬太阳城"相关资讯包括: 标志、报表、游戏画面、图样、文案等，代理联盟不得私自复制、公开、分发有关材料，"励扬太阳城"保留法律追诉权。如代理在做业务推广有相关需要，请随时洽"励扬太阳城"。</p>
				<h4>三、规则条款</h4>
				<p>1.各阶层代理联盟不可在未经"励扬太阳城"许可情况下开设双/多个的代理账号，也不可从"励扬太阳城"账户或相关人士赚取佣金。请谨记任何阶层代理不能用代理账户下注，"励扬太阳城"有权终止并封存账号及所有在游戏中赚取的佣金。</p>
				<p>2.为确保所有"励扬太阳城"会员账号隐私与权益，"励扬太阳城"不会提供任何会员密码，或会员个人资料。各阶层代理联盟亦不得以任何方式取得会员资料，或任意登入下层会员账号，如发现代理联盟有侵害"励扬太阳城"会员隐私行为，"励扬太阳城"有权取消代理联盟红利，并取消代理联盟账号。</p>
				<p>3.代理联盟旗下的会员不得开设多于一个的账户。"励扬太阳城"有权要求会员提供有效的身份证明以验证会员的身份，并保留以IP判定是否重复会员的权利。如违反上述事项，"励扬太阳城"有权终止玩家进行游戏并封存账号及所有于游戏中赚取的佣金</p>
				<p>4.如代理联盟旗下的会员因为违反条例而被禁止享用"励扬太阳城"的游戏，或"励扬太阳城"退回存款给会员，"励扬太阳城"将不会分配相应的佣金给代理联盟。如代理联盟旗下会员存款用的信用卡、银行资料须经审核，"励扬太阳城"保留相关佣金直至审核完成。</p>
				<p>5.合约内的条件会以"励扬太阳城"通知接受代理联盟加入后开始执行。"励扬太阳城"及代理联盟可随时终止此合约，在任何情况下，代理联盟如果想终止合约，都必须以书面/电邮方式提早于七日内通知"励扬太阳城"。 代理联盟的表现会3个月审核一次，如代理联盟已不是现有的合作成员则本合约书可以在任何时间终止。如合作伙伴违反合约条例，"励扬太阳城"有权立即终止合约。</p>
				<p>6.在没有"励扬太阳城"许可下，代理联盟不能透露及授权"励扬太阳城"相关密资料，包括代理联盟所获得的回馈、佣金报表、计算等;代理联盟有义务在合约终止后仍执行机密档及资料的保密。</p>
				<p>7.在合约终止后，代理联盟及"励扬太阳城"将不须要履行双方的权利及义务。终止合约并不会解除代理联盟于终止合约前应履行的义务。</p>
			</div>
		</ul>
		<ul class="ly-newhand-right ly-newhand-bottom" *ngIf="2 === isShowIndex">
			<div class="ly-newhand-right-text">
				<table cellspacing="0" cellpadding="0">
					<thead>
						<tr>
							<th width="50%">代理网址</th>
							<th width="50%">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>https://ag.ly972.com/onlineSubAgent/login.jsp</td>
							<td>
								<a href="https://ag.ly972.com/onlineSubAgent/login.jsp" target="_blank">打开连接</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</ul>
		<ul class="ly-newhand-right" *ngIf="3 === isShowIndex">
			<div class="ly-newhand-right-text">
				<h4>新增代理</h4>

			</div>
		</ul>
	</div>
</div>
