<div class="consultation1">
  <div class="consultation-next1">
    <div class="consultation-next1-center">
      <span class="consultation-next1-center-hzhb">合作伙伴:</span>
      <div class="consultation-next1-center-list">
        <span class="consultation-next1-center-list-img1"
              [style.background-image]="$GlobalService.globalJavaResData.cdnValidKey2 +
                '/tyc/img/dianjing-hzhb.png' | bgUrl">
        </span>
        <span class="consultation-next1-center-list-img2"
              [style.background-image]="$GlobalService.globalJavaResData.cdnValidKey2 +
                '/tyc/img/dianjing-hzhb.png' | bgUrl">
        </span>
        <span class="consultation-next1-center-list-img3"
              [style.background-image]="$GlobalService.globalJavaResData.cdnValidKey2 +
                '/tyc/img/dianjing-hzhb.png' | bgUrl">
        </span>
        <span class="consultation-next1-center-list-img4"
              [style.background-image]="$GlobalService.globalJavaResData.cdnValidKey2 +
                '/tyc/img/dianjing-hzhb.png' | bgUrl">
        </span>
        <span class="consultation-next1-center-list-img5"
              [style.background-image]="$GlobalService.globalJavaResData.cdnValidKey2 +
                '/tyc/img/dianjing-hzhb.png' | bgUrl">
        </span>
        <span class="consultation-next1-center-list-img6"
              [style.background-image]="$GlobalService.globalJavaResData.cdnValidKey2 +
                '/tyc/img/dianjing-hzhb.png' | bgUrl">
        </span>
        <span class="consultation-next1-center-list-img7"
              [style.background-image]="$GlobalService.globalJavaResData.cdnValidKey2 +
                '/tyc/img/dianjing-hzhb.png' | bgUrl">
        </span>
        <span class="consultation-next1-center-list-img8"
              [style.background-image]="$GlobalService.globalJavaResData.cdnValidKey2 +
                '/tyc/img/dianjing-hzhb.png' | bgUrl">
        </span>
        <span class="consultation-next1-center-list-img9"
              [style.background-image]="$GlobalService.globalJavaResData.cdnValidKey2 +
                '/tyc/img/dianjing-hzhb.png' | bgUrl">
        </span>
        <span class="consultation-next1-center-list-img10"
              [style.background-image]="$GlobalService.globalJavaResData.cdnValidKey2 +
                '/tyc/img/dianjing-hzhb.png' | bgUrl">
        </span>
        <span class="consultation-next1-center-list-img11"
              [style.background-image]="$GlobalService.globalJavaResData.cdnValidKey2 +
                '/tyc/img/dianjing-hzhb.png' | bgUrl">
        </span>
      </div>
    </div>
  </div>
  <div class="consultation-payment1">
    <div class="consultation-payment1-center">
      <ul>
        <li>支付牌照:</li>
        <li>
          <p>
            <span class="consultation-payment1-center-img1"
                  [style.background-image]="$GlobalService.globalJavaResData.cdnValidKey2 +
                '/tyc/img/dianjing-zfpz.png' | bgUrl">
          </span>
            <span class="consultation-payment1-center-img2"
                  [style.background-image]="$GlobalService.globalJavaResData.cdnValidKey2 +
                '/tyc/img/dianjing-zfpz.png' | bgUrl">
          </span>
          </p>
          <p>
            <span class="consultation-payment1-center-img3"
                  [style.background-image]="$GlobalService.globalJavaResData.cdnValidKey2 +
                '/tyc/img/dianjing-zfpz.png' | bgUrl">
          </span>
            <span class="consultation-payment1-center-img4"
                  [style.background-image]="$GlobalService.globalJavaResData.cdnValidKey2 +
                '/tyc/img/dianjing-zfpz.png' | bgUrl">
          </span>
          </p>
        </li>
      </ul>
      <ul>
        <li class="consultation-partner-top-left-text">
          <div class="icons">
            <div class="icon icon1" [style.background-image]="$GlobalService.globalJavaResData.cdnValidKey2 + '/tyc/img/dianjing-home.png' | bgUrl"></div>
            <div class="icon icon2" [style.background-image]="$GlobalService.globalJavaResData.cdnValidKey2 + '/tyc/img/dianjing-home.png' | bgUrl"></div>
            <div class="icon icon3" [style.background-image]="$GlobalService.globalJavaResData.cdnValidKey2 + '/tyc/img/dianjing-home.png' | bgUrl"></div>
            <div class="icon icon4" [style.background-image]="$GlobalService.globalJavaResData.cdnValidKey2 + '/tyc/img/dianjing-home.png' | bgUrl"></div>
          </div>
          <p>未满18岁进行博彩是属于非法行为，{{$GlobalService.globalJavaResData.title}}会在此方面严格执行，我们会对客户进行年龄验证，并可能上交补充档。</p>
        </li>
      </ul>
      <ul class="contact">
        <!--<li [routerLink]="['guide', 0]"><span class="label">联系我们</span></li>
        <li *ngIf="$GlobalService.globalQueryModel.customerPhone.length">
          <span class="label">客服电话:</span>
          &lt;!&ndash; <span>+63 9282500000</span> &ndash;&gt;
          <ng-container *ngFor="let item of $GlobalService.globalQueryModel.customerPhone let i=index">
            <span *ngIf="i<2">{{item.keyvalue}}&nbsp;&nbsp;</span>
          </ng-container>
        </li>
        <li *ngIf="$GlobalService.globalQueryModel.customerQQ.length">
          <span class="label">客服QQ:</span>
          &lt;!&ndash; <span>860000798</span> &ndash;&gt;
          <ng-container *ngFor="let item of $GlobalService.globalQueryModel.customerQQ let i=index">
            <span *ngIf="i<2">{{item.keyvalue}}&nbsp;&nbsp;</span>
          </ng-container>
        </li>
        <li>
          <span class="label">客服邮箱:</span>
          <span>yaxinvip88888@gmail.com</span></li>-->
      </ul>
    </div>
    <ul class="footer_links">
      <li  [routerLink]="['guide', 8]">关于太阳城</li>
      <li [routerLink]="['guide', 4]">开户与存款</li>
      <li [routerLink]="['guide', 7]">博彩责任</li>
      <li [routerLink]="['guide', 9]">安全保密</li>
      <li [routerLink]="['guide', 10]">诚信专业</li>
      <li [routerLink]="['technicalHelp', 0]">技术帮助</li>
      <li [routerLink]="['gameplay', 0]">游戏玩法</li>
      <li [routerLink]="['rulesTerms', 0]">条款与规则</li>
      <li (click)="openCooperation()">合作经营</li>
      <!--        <li [className]="isColor ? 'hot-color-yellow' : 'hot-color-red'" (click)="openCooperation()">合作经营</li>-->
      <li [routerLink]="['guide', 6]">常见问题</li>
    </ul>
  </div>
</div>
