<div class="title">红包领取记录</div>
<div class="envelop-content">
  <div class="search_row">
    <span>
      <p-calendar [(ngModel)]="startTime" (onSelect)="selectDate()" [locale]="en" dateFormat="yy-mm-dd" [yearNavigator]="true" yearRange="2016:2028" [readonlyInput]="true"
                  class="zm-calendar" [style]="{'width':'120px'}" [inputStyle]="{'width':'120px'}"
      ></p-calendar>
        <i class="iconfont">&#xe65d;</i>
    </span>
    ~&nbsp;&nbsp;
    <span>
        <p-calendar [(ngModel)]="endTime" (onSelect)="selectDate()" [locale]="en" dateFormat="yy-mm-dd" [yearNavigator]="true" yearRange="2016:2028" [readonlyInput]="true"
                    class="zm-calendar" [style]="{'width':'120px'}" [inputStyle]="{'width':'120px'}"
        ></p-calendar>
        <i class="iconfont">&#xe65d;</i>
    </span>
    <span>
        状态：
        <p-dropdown [options]="status" [(ngModel)]="selectedStatus" [filter]="true"
                    class="zm-dropdown-style" [style]="{'width':'145px'}"
                    filterBy="label,value.name" [emptyFilterMessage]="$GlobalService.globalJavaResData.selectText"></p-dropdown>
    </span>
    <span>
      <p-dropdown [options]="pageSize" [(ngModel)]="selectedPageSize" [filter]="true" (onChange)="dataTimeChange($event, 5)"
        class="zm-dropdown-style" [style]="{'width':'110px'}" filterBy="label,value.name"
        [emptyFilterMessage]="$GlobalService.globalJavaResData.selectText"></p-dropdown>
    </span>
    
    <span  class="search" (click)=myEnvelopRecord() lh-loading [isLoad]="isQueryLoading">
        <span>搜索</span>
    </span>
  </div>
  <table class="table">
      <thead>
      <tr>
        <ng-container *ngFor="let header of tableHeaderList">
          <th [style.width.%]="header.width">{{header.label}}</th>
        </ng-container>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of envelopRecord let i = index">
          <td>{{ i + 1 + (pageData.currentPage - 1) * $GlobalService.globalQueryModel.envelopRecord.pagesize}}</td>
          <td>{{item.time}}</td>
          <td>{{item.orderNo}}</td>
          <td>{{item.amount }}</td>
          <td [style.color]="item.status == 1 ? '#79e279' : item.status == 0 ? 'white' : 'red'">{{item.statusText}}</td>
          <td>{{item.remark }}</td>
        </tr>
        <tr *ngIf="envelopRecord.length === 0">
          <td colspan="8">暂无数据...</td>
        </tr>
      </tbody>
  </table>
  <div class="Member_history_bottom" *ngIf="envelopRecord.length !== 0">
    <li class="lyactive" *ngIf="pageData.currentPage != 1" (click)="addCurrentPage(1)">首页</li>
    <li class="lyactive"  *ngIf="pageData.currentPage != 1" (click)="addCurrentPage(pageData.currentPage - 1)">上一页</li>
    <li class="lyactive" *ngIf="pageData.currentPage != 1" (click)="addCurrentPage(pageData.currentPage - 1)">{{pageData.currentPage - 1}}</li>
    <li class="lyactive" (click)="addCurrentPage(pageData.currentPage)" [class.page-bg]="pageData.currentPage">{{pageData.currentPage}}</li>
    <li *ngIf="pageData.currentPage != pageData.total"
        class="lyactive" (click)="addCurrentPage(pageData.currentPage + 1)">{{pageData.currentPage + 1}}</li>
    <li class="lyactive" *ngIf="pageData.currentPage != pageData.total" (click)="addCurrentPage(pageData.currentPage + 1)">下一页</li>
    <li class="lyactive" *ngIf="pageData.currentPage != pageData.total" (click)="addCurrentPage(pageData.total)">末页</li>
    <li *ngIf="pageData.total != 1" class="noBoder">共{{pageData.total}}页</li>
    <li *ngIf="pageData.total != 1" class="noBoder">跳转到 <input type="text" [(ngModel)]="pageData.goPage" onkeyup="value=value.replace(/[^\d]/g,'') "> 页
    </li>
    <li *ngIf="pageData.total != 1" class="lyactive HistoryActive" (click)="addCurrentPage(pageData.goPage, 0)">GO</li>
  </div>
</div>
