<div class="index_bottom">
  <div class="index_bottom_Partner">
    <h4>合作伙伴</h4>
    <ul class="index_bottom_Partner_logo">
      <li><img src="{{$GlobalService.globalJavaResData.cdnValidKey2}}{{$GlobalService.globalJavaResData.projectName}}/img/imgPartner-1260.png"/></li>
      <li><img src="{{$GlobalService.globalJavaResData.cdnValidKey2}}{{$GlobalService.globalJavaResData.projectName}}/img/imgPartner-1160.png"/></li>
      <li><img src="{{$GlobalService.globalJavaResData.cdnValidKey2}}{{$GlobalService.globalJavaResData.projectName}}/img/imgPartner-1330.png"/></li>
      <li><img src="{{$GlobalService.globalJavaResData.cdnValidKey2}}{{$GlobalService.globalJavaResData.projectName}}/img/imgPartner-1240.png"/></li>
      <li><img src="{{$GlobalService.globalJavaResData.cdnValidKey2}}{{$GlobalService.globalJavaResData.projectName}}/img/imgPartner-1220.png"/></li>
      <li><img src="{{$GlobalService.globalJavaResData.cdnValidKey2}}{{$GlobalService.globalJavaResData.projectName}}/img/imgPartner-1221.png"/></li>
      <li><img src="{{$GlobalService.globalJavaResData.cdnValidKey2}}{{$GlobalService.globalJavaResData.projectName}}/img/imgPartner-1223.png"/></li>
      <li><img src="{{$GlobalService.globalJavaResData.cdnValidKey2}}{{$GlobalService.globalJavaResData.projectName}}/img/imgPartner-1410.png"/></li>
    </ul>
  </div>
  <div class="index_bottom_un">
    <div class="index_bottom_union">
      <ul class="index_bottom_union_we">
        <li [routerLink]="['guide', 8]">
          <span>关于我们</span>
          <span>About us</span>
        </li>
        <li [routerLink]="['guide', 5]">
          <span>如何取款</span>
          <span>Withdraw money</span>
        </li>
        <li routerLink="union">
          <span>联盟伙伴</span>
          <span>Alliance partner</span>
        </li>
        <li [routerLink]="['guide', 6]">
          <span>常见问题</span>
          <span>Common problem</span>
        </li>
        <li [routerLink]="['guide', 0]">
          <span>联系我们</span>
          <span>Help center</span>
        </li>
        <li [routerLink]="['guide', 7]">
          <span>博彩责任</span>
          <span>Gambling liability</span>
        </li>
        <li [routerLink]="['guide', 4]">
          <span>如何存款</span>
          <span>Deposit</span>
        </li>
      </ul>
      <ul>
        <h2>推荐使用以下浏览器访问</h2>
        <div class="index_bottom_union_Browser">
          <a>
            <p><img src="{{$GlobalService.globalJavaResData.cdnValidKey2}}{{$GlobalService.globalJavaResData.projectName}}/img/chrome.png"/></p>
            <p>Google Chrome</p>
          </a>
          <a>
            <p><img src="{{$GlobalService.globalJavaResData.cdnValidKey2}}{{$GlobalService.globalJavaResData.projectName}}/img/fox.png"/></p>
            <p>Firefox browser</p>
          </a>
        </div>
      </ul>
    </div>
  </div>
  <div class="index_bottom_authority">Copyright ©  {{$GlobalService.globalJavaResData.title}} All Right Reserved</div>
</div>
