.index_bottom{margin-top: 30px;overflow: hidden;}
.index_bottom_Partner_logo{display: flex;width: 1200px;justify-content: space-between;
  align-items: center;margin: 0 auto;}
.index_bottom_Partner h4{text-align: center;margin-bottom: 20px;font-size: 16px;}
.index_bottom_union{display: flex;width: 1200px;margin: 0 auto;}
.index_bottom_Partner{padding: 20px 0;background:rgba(128,128,128,0.08);}
.index_bottom_union_we li span:first-child{color: #e8e8e8;margin-right: 10px;}
.index_bottom_union_we li span:last-child{color: #b2b2b2;}
.index_bottom_union ul{width: 50%;}
.index_bottom_un{background: #484848;padding: 15px;}
.index_bottom_union_we{display: flex;flex-wrap: wrap;}
.index_bottom_union_we li{width: 50%;margin: 5px 0;font-family: auto;cursor: pointer;}
.index_bottom_union h2{font-size: 15px;color: #e8e8e8;font-weight: 100;margin-bottom: 20px;}
.index_bottom_union ul p{color: #b2b2b2;}
.index_bottom_union_Browser{display: flex;}
.index_bottom_union_Browser a{margin-right: 50px;}
.index_bottom_authority{padding: 14px;text-align: center;background: #1c1c1c;color:#fff;}
