<div class="index_deposit_entrance">
    <ul class="index_deposit_entrance_ul">
        <li  class="active">推广教程</li>
    </ul>
  <div style="padding: 10px">
    <div *ngIf="spreadMode===2">
      <img src="{{$GlobalService.globalJavaResData.cdnValidKey2}}{{$GlobalService.globalJavaResData.projectName}}/img/ticheng.png" alt="">
    </div>
    <div *ngIf="spreadMode===1">
      <img src="{{$GlobalService.globalJavaResData.cdnValidKey2}}{{$GlobalService.globalJavaResData.projectName}}/img/wuxian.png" alt="">
    </div>
  </div>

  </div>
