<div class="login-password-safetyLogin">
  <ul class="borderFrame">
    <h4>更改登录密码</h4>
    <li class="borderFrame_li">
      <label>原登录密码：</label>
      <input [type]="visible ? 'text' : 'password'" pInputText placeholder="请输入原登录密码"
             [pKeyFilter]="noSpecial" maxlength="12"
             class="common-input-style"
             [(ngModel)]="$GlobalService.globalQueryModel.modify.oldPwd"/>
      <div class="Member_safety_information_hui">
        <!-- <em *ngIf="!$GlobalService.globalQueryModel.modify.oldPwd ||
              $GlobalService.globalQueryModel.modify.oldPwd.length <8">
          请输入原登录密码并且必须由8-12位字母和数字组成
        </em> -->
        <em *ngIf="isShowWarning.warning1">
          请输入原登录密码并且必须由8-12位字母和数字组成
        </em>
      </div>
      <i  (click)="visible = !visible"
         [className]="!visible ? 'iconbiyan iconfont' : 'iconyanjing iconfont'"></i>
    </li>
    <li>
      <label>新登录密码：</label>
      <input [type]="newVisible ? 'text' : 'password'" pInputText placeholder="请输入新登录密码"
             [pKeyFilter]="noSpecial" maxlength="12"
             class="common-input-style"
             [(ngModel)]="$GlobalService.globalQueryModel.modify.newPwd"
             promptLabel="请输入密码" weakLabel="弱" mediumLabel="中" strongLabel="强" pInputText pPassword/>
      <div class="Member_safety_information_hui">
        <!-- <em *ngIf="!$GlobalService.globalQueryModel.modify.newPwd ||
              $GlobalService.globalQueryModel.modify.newPwd.length <8">
          请输入新登录密码并且必须由8-12位字母和数字组成
        </em> -->
        <em *ngIf="isShowWarning.warning2">
          请输入新登录密码并且必须由8-12位字母和数字组成
        </em>
      </div>
      <i  (click)="newVisible = !newVisible"
         [className]="!newVisible ? 'iconbiyan iconfont' : 'iconyanjing iconfont'"></i>
    </li>
    <li>
      <label>确认新登录密码：</label>
      <input [type]="newVisible1 ? 'text' : 'password'" pInputText placeholder="重复输入确认密码"
             class="common-input-style"
             [pKeyFilter]="noSpecial" maxlength="12" [(ngModel)]="newPwd1"/>
      <div class="Member_safety_information_hui">
        <!-- <em *ngIf="!newPwd1 || newPwd1 !== $GlobalService.globalQueryModel.modify.newPwd">
          请输入新登录密码并且保持一致
        </em> -->
        <em *ngIf="isShowWarning.warning3">
          请输入新登录密码并且保持一致
        </em>
      </div>
      <i  (click)="newVisible1 = !newVisible1"
         [className]="!newVisible1 ? 'iconbiyan iconfont' : 'iconyanjing iconfont'"></i>
    </li>
  </ul>
  <div class="Member_safety_information_button">
    <button (click)="loginPassword()"
            [disabled]="!newPwd1 || !$GlobalService.globalQueryModel.modify.newPwd ||
                      !$GlobalService.globalQueryModel.modify.oldPwd"
            [class.active]="!newPwd1 || !$GlobalService.globalQueryModel.modify.newPwd ||
            !$GlobalService.globalQueryModel.modify.oldPwd"
            lh-loading [isLoad]="refroneKeyTransfer">
      修改密码
    </button>
  </div>
</div>
