<div class="ly-guide">
  <div>当前位置
    <span>首页</span>&nbsp;
    >&nbsp;<span>{{navigationName}}</span>
  </div>
  <div class="ly-newhand">
    <ul class="ly-newhand-left">
      <li (click)="listName(item, i)" [class.active]="i=== isShowIndex" *ngFor="let item of listData let i=index">
        <i class="iconfont" [ngClass]="item.icon"></i><span>{{item.name}}</span><i class="iconfont">&#xe65e;</i></li>
    </ul>
    <ul class="ly-newhand-right" *ngIf="0=== isShowIndex">
      <div class="ly-newhand-right-text">
        <h4>一般规则</h4>
        <p>下列一般规则适用于所有赛事与赌盘／投注类型，在投注中须完全遵守。在适用的情况下，网站所公布的“条件与条款”中设定的规定和定义应适用于本“规则与规定”。</p>
        <b></b>
        <h4>一般事项</h4>
        <p>本公司的所有投注信息都是出于诚意提供的。 不过，本公司不对有关日期、时间、地点、竞争对手、赔率、结果、统计数据、团队制服（显示在实时视频中）或其它投注信息的任何错误或遗漏负责。
          本公司保留纠正任何明显错误的权利，并且应当采取所有合理行动确保以诚信透明的方式管理盘口，盘口定义为针对某一体育赛事所提供的不同的投注类型。 公司保留做出最终性决定的权利。</p>
        <p>如果一项赛事在预定时间之前开始，则只有该项赛事开始之前所做投注（除指定的现场投注以外）会被视为有效注码，赛事的定义是两个团队或个人间有组织的体育比赛或活动。
          如果一个盘口未在正确时间关闭或中止，则本公司有权取消在实际开始时间之后进行的所有投注（除指定的现场投注以外）。</p>
        <p>如果网站对赛事所用的英语和非英语名称之间有任何差异，以英语版本为准。</p>
        <p>在任何时候，客户有责任了解比赛分数和所有相关的比赛信息，并且建议客户在下注之前确认比赛状况。</p>
        <p>本公司有权在任何时候出于任何原因修改这些规则。一旦在网站上发布，任何此类修改都是具有约束性和立即生效的。</p>
        <p>客户承认网站上提供的当前分数、所用时间及其它数据虽然是由第三方以“直播”形式提供，但仍会有时间延迟以及/或者可能不准确的情况，并且根据这些资料做任何投注时，客户应自行承担所有风险。
          本公司提供这些数据时，不保证其准确性、完整性或及时性，并且不对客户因依赖这些数据而遭受的任何损失（直接或间接损失）负责。</p>
        <h4>赛事中止与延期</h4>
        <p>如果一项赛事未在预定开始日期开始，并且未按特定体育规则的规定，在原先预定的完成日期完成，则所有的注码都将无效，除了对已获得无条件确定的盘口所做的投注以外。
        </p>
        <p>如果一项赛事已经开始，但之后又中止，并且未按特定体育规则的规定，在原先预定的完成日期完成，则所有的注码都将无效，除了对无条件决定结果的盘口所做的投注以外。</p>
        <p>如果一项赛事未按特定体育规则的规定，在原告预定的完成日期完成，而正式的比赛结果得以宣布，或者特定赛事的相关主管机构宣布了一个结果，则本公司有权认定这一比赛是正式有效的。 在此方面，本公司的决定是最终和具有结束性的。
        </p>
        <h4>比赛结果</h4>
        <p>必要时，颁奖仪式的位次将被视为是正式赛果，不论之后是否出现取消或更改赛果的情况。 如果没有颁奖仪式，赛果将会依据相关主管机构在盘口结算时提供的官方结果而定，不论之后是否出现取消或更改赛果的情况。 如果没有提供适用的官方结果，则将依据到盘口结算时适用且已知的证据来确定赛果。</p>
        <p>盘口通常会在一项赛事结束后不久尽快进行结算。 完全出于服务客户的目的，一些盘口可能会在正式结果公布之前结算。 如果一个盘口结算错误，本公司有权撤销结算。
            如果对任何赛果有不确定，本公司有权无限期暂停任何盘口的结算。</p>
        <p>对于已经结算的注码，自赛事开始时间起的72个小时后，如赛果有任何修正或变更，本公司不会予以承认。</p>
        <p>当官方赛果与本公司网站赛果版块公布的赛果之间有冲突时，应当通过参考本公司的有关赛事视频记录来确定正确的结果，以便解决冲突。 然而，如果没有此类适用的视频记录，应当根据特定赛事的相关主管机构在其官方网站上公布的赛果确定正确的结果。 如果该官方网站无法提供这一结果或者官方网站公布的赛果明显有错，则本公司有权做出决定/修正，以便确定最终的结果。 在此方面，本公司的决定是最终和具有结束性的。</p>
        <h4>比赛取消政策</h4>
        <p>1.
          本公司网站上针对电子竞技赛事的开赛日期及时间仅作参考，不保证一定准确。如果某一比赛暂停或延期，而且未在实际确定的开赛时间之后一定时间内（该时间期限为线下比赛12小时，线上赛8小时）重新开始，则有关该场比赛的注单无效并予以退款。例外情况是，不管比赛是否暂停或延期，有关某一比赛队伍/选手锦标赛晋级或夺冠的注单始终有效。
        </p>
        <p>2.
          如果选手/战队的名称被拼错，所有下注金额仍有效，除非明显是错误的对象。如果在官方比赛中选手以错误的化名或低阶账户参赛，结果仍然有效。若存在参赛选手并非战队的官方选手（或其中之一），并未在公布赛程前公告参赛人员变动，本公司有权取消该场的注单并予以退款。
        </p>
        <p>3. 所有的下注金额会根据相关比赛管理单位所公布的官方结果结算。如果没有打和的选项，那延长时间就会生效（若有）。</p>
        <p>4. 当仅提供胜负选项的盘口遇到最终比赛结果为平局时（若有加时，则最后一个加时的结果视为最终比赛结果），则该盘口的所有注单无效并予以退款。</p>
        <p>5. 本公司保留对比赛，盘口和注单的取消，退款政策的最终解释权。</p>
      </div>
    </ul>
    <ul class="ly-newhand-right" *ngIf="1 === isShowIndex">
      <div class="ly-newhand-right-text">
        <h4>让分盘投注</h4>
        <p>1. 电子竞技比赛的让分可以是轮/赛局或根据比赛不同选择其他的计量方式。Spread在本网站仅指代「让分」。</p>
        <pre><p>2.让分的目的是让体育赛事双方更加对等，让博彩更加有趣。在电子竞技比赛博彩中，具体做法是向实力较差的一方派送一定的领先比分/胜出局。
        例如：
                          让分	  赔率
            选手A	   -1.5	  2.00
            选手B	   +1.5	  1.85</p></pre>
        <div class="table">
          3.<p>例如：</p>
          <p><span></span><span>让分</span><span>赔率</span></p>
          <p><span>选手 A</span><span>-1.5</span><span>2.00</span></p>
          <p><span>选手 B</span><span>+1.5</span><span>1.85</span></p>
        </div>
        <p>4. 如果选手A多赢了两张或以上地图，则投注选手A的玩家胜出，投注选手B的玩家落败。如果选手A只多赢了一张地图或选手B获胜，则投注选手B的玩家胜出，投注选手A的玩家落败。</p>
        <pre><p>5.	总分盘投注：电子竞技比赛的总分盘可以是轮/局赛况或是基于比赛的其他计分投注。总分仅指总得分。
            三场最佳SC2比赛范例
            高于	2.5	1.93
            低于	2.5	1.93</p></pre>
        <div class="table">
          6.<p>三场最佳SC2比赛范例</p>
          <p><span>高于</span><span>2.5</span><span>1.93</span></p>
          <p><span>低于</span><span>2.5</span><span>1.93</span></p>
        </div>
        <p>7. 若玩家以2-0获胜，所有低于2.5的注码为胜，投注高过者则为输。若玩家以2-1获胜，所有高过的注码为胜，投注低于者则为输。</p>
        <h4>大小盘投注</h4>
        <p>1. 大小盘的意思是预测比赛中特定项目的总数会大于或者小于指定的数值来分出胜负。</p>
        <p>2.
          分钟数：在地图比赛时间上提供的总分盘（以分钟计）。如果地图比赛时间短于提供的总分盘，那么“小盘”上的投注将获胜，“大盘”上的投注将输掉。如果地图比赛时间长于提供的总分盘，那么“大盘”上的投注将获胜，“小盘”上的投注将输掉。
          如果地图比赛时间的分钟数和提供的总分盘相同，“大盘”上的投注将获胜，“小盘”上的投注将输掉。</p>
        <pre><p>3.	例子：Dota2的分钟数特别投注上提供的总分盘为36。
            如果地图在36:02结束，那么“大盘”上的投注将获胜，“小盘”上的投注将输掉。
            如果地图在35:45结束，那么“小盘”上的投注将获胜，“大盘”上的投注将输掉。
            如果地图正好在36:00结束，“大盘”上的投注将获胜，“小盘”上的投注将输掉。</p></pre>
        <p>4.在 Dota2 和英雄联盟比赛中，会根据画面顶端显示的游戏内部计分表派彩。</p>
        <h4>过关投注</h4>
        <p>1. 过关投注 (又称串联投注) 是一个由两个或以上的投注项目所组成的独立注码，玩家必须赢得全部投注项目才可以获得派彩，得到比分开投注更高的回报。</p>
        <pre><p>2. 例子：
            串联投注
            TSM vs CLG	第一局 CLG 胜
            TSM vs CLG	第二局 TSM 胜
            SKT vs SSG	第一局 SKT 首杀</p></pre>
        <p>3. 三个项目都必须猜中才可以获得派彩，任一项目不中都不会有任何派彩。</p>
        <p>4. 尽管“混合过关”注单内，其中所选择的赛事被视为无效，但注单依然有效，赔率以(1)计算。</p>
        <h4>项目</h4>
        <p>1. 首塔：第一支防御塔被毁的队伍，输掉本注。</p>
        <li>2. <img
            src="{{$GlobalService.globalJavaResData.cdnValidKey2}}/tyc/img/gameplay1.jpg" />
        </li>
        <p>3. 首杀：在比赛中宣布取得「First Blood」的队伍赢得本注。</p>
        <li>4. <img
            src="{{$GlobalService.globalJavaResData.cdnValidKey2}}/tyc/img/gameplay2.jpg" />
        </li>
        <p>5. 首小龙：在比赛中首先击杀小龙的队伍赢得本注。</p>
        <li>6. <img
            src="{{$GlobalService.globalJavaResData.cdnValidKey2}}/tyc/img/gameplay3.jpg" />
        </li>
        <p>7. 首肉山：在比赛中首先击杀肉山的队伍赢得本注。</p>
        <li>8. <img
            src="{{$GlobalService.globalJavaResData.cdnValidKey2}}/tyc/img/gameplay4.jpg" />
        </li>
        <p>9. 第一局：系列赛中的第一局来判定胜方。</p>
        <p>10. 系列赛：一系列的比赛是由(轮/比赛)组合来判定胜方。通常为三局两胜制(BO3)或五局三胜制(BO5)。</p>
        <pre><p>11.	游戏组合投注：单一注单里包含两种或以上的投注类型。
            例如:
            第一局首杀+首塔:
            首杀: A队赢
            首塔: B队赢
            成绩结果为0-0
            在此情况下, 如投注于其中一队 (A队和B队) 投注者为输
            只有一队(A队或B队) 赢得两种投注类型为赢.
            例如:
            首杀: A队赢
            首塔: A队赢
            成绩结果为A队赢, 玩家投注为赢</p></pre>
        <p>12.	BO3：三局两胜制，如果一方连胜两局，第三局不用进行。</p>
        <pre><p>13.	BO5：五局三胜制，如果一方连胜三局，第四及五局不用进行。
            第一局A队胜
            第二局B队胜
            第三局A队胜
            第四局A队胜
            在此情况下，第五局不用进行，由于A队赢得系列赛。</p></pre>
        <p>14.	在 Dota2 和英雄联盟比赛中，任何杀死游戏中的小兵将会在积分榜进行分级。如一场5对5的比赛在开赛时小于10位选手，或一场6对6的比赛在开赛时小于12位选手，地图和系列赛的所有投注将会被取消。</p>
        <p>15.	在 Dota2 和英雄联盟比赛中，如果选手在游戏进行期间中断连线且无法重新连线，或在剩下的游戏进行期间被更换，地图和系列赛的所有投注将会被取消。</p>
        <p>16.	在 CSGO 比赛中，如果不到 10 位选手进行了至少 5 个回合，地图和系列赛的所有投注将会被取消。</p>
      </div>
    </ul>
    <ul class="ly-newhand-right" *ngIf="2 === isShowIndex">
      <div class="ly-newhand-right-text">
       <h4>一般条款</h4>
       <p>1.	主播赛事为主播通过对应游戏的官方游戏客户端直接匹配随机路人玩家的比赛。</p>
       <p>2.	主播游戏适用主播赛事的规则和条款，当与一般规则冲突时，以主播赛事规则为准。</p>
       <p>3.	主播赛事的条款适用于所有主播赛事而不适用于任何普通赛事，当主播赛事的一般规则与主播赛事专项游戏(如英雄联盟，绝地求生，CS:GO等）的规则冲突时，以对应专项游戏的主播赛事规则为准。</p>
       <h4>赛事的有效性</h4>
       <p>1.	如果主播未进入到对应游戏的正式玩法画面（赛前准备除外）就退出本局比赛，或同局内的其他玩家退出导致游戏无法进行的情况，将不会记为一次有效的比赛，对应的比赛次序会顺延至下一个有效的比赛。</p>
       <p>2.	如果主播未进行对应游戏的比赛而进行了其他游戏的比赛，将不会记为一次有效的比赛，对应的比赛次序会顺延至下一个有效的比赛。</p>
       <p>3.	在英雄联盟主播游戏进行四分钟内，因一方选手掉线，并在规定时间内完成并通过重开（remake）投票，则该局比赛将不会记为一次有效的比赛，对应的比赛次序会顺延至下一个有效的比赛。</p>
       <p>英雄联盟重开例一：如下图所示，系统判定该场比赛为重开局，则依照主播赛事的有效性规则，将视该局比赛无效，对应的比赛次序顺延至下一个有效比赛。</p>
       <li> <img src="{{$GlobalService.globalJavaResData.cdnValidKey2}}/tyc/img/gameplay5.jpg" /></li>
       <p>英雄联盟重开例二：如下图所示，系统判定该场比赛为Remake(重开局)，则依照主播赛事的有效性规则，将视该局比赛无效，对应的比赛次序顺延至下一个有效比赛。</p>
       <li> <img src="{{$GlobalService.globalJavaResData.cdnValidKey2}}/tyc/img/gameplay6.jpg" /></li>
       <h4>赛事的终止和延期</h4>
       <p>如果主播比赛未在预定时间开始，并在主播的同一个直播时段（终止直播超过半小时再开播视为一个新的直播时段）中没有开始后续的比赛，则该场比赛的所有注单无效并全额退款。</p>
       <h4>比赛结果</h4>
       <p>1.	主播赛事最终的正式赛果除特殊情况外以对应游戏的官方客户端展示的赛果或战绩查询软件（当官方展示赛果不可获得时）为准。</p>
       <p>2.	特殊情况为：当主播在游戏中断线/中离当前比赛并最终被对应游戏的官方客户端判定为掉线，则无论客户端展示赛果为何，主播所在方一律视为失败方。</p>
       <p>英雄联盟主播断线/中离例一：如下图所示，系统判定红框内玩家（即主播）为逃兵（即中离），则依照主播赛事的比赛结果规则，将视主播方为失败方。</p>
       <li> <img src="{{$GlobalService.globalJavaResData.cdnValidKey2}}/tyc/img/gameplay7.jpg" /></li>
       <p>英雄联盟主播断线/中离例二：当无法直接在主播的直播中截取到比赛结果的画面时，将以战绩查询软件中的结果为准。如下图所示，系统判定红框内玩家（即主播）为逃兵（即中离），则依照主播赛事的比赛结果规则，将视主播方为失败方。</p>
       <li> <img src="{{$GlobalService.globalJavaResData.cdnValidKey2}}/tyc/img/gameplay8.jpg" /></li>
       <p>同局比赛内除主播以外的其他玩家掉线或中离并不影响比赛最终结果，以对应游戏的官方客户端展示的赛果或战绩查询软件（当官方展示赛果不可获得时时）为准。</p>
       <h4>比赛取消政策</h4>
       <p>1.	如果主播在直播过程中更换了所使用的游戏账号，且该账号的游戏段位或排名与原先账号差别较大时，我方有权取消该场比赛以及后续比赛（若有）相关的所有注单并全额退款。</p>
       <p>2.	如果主播在直播过程中更换了排位的方式（如从单排变为双排，四排或者五排，反之亦然），则我方有权取消该场以及之后场次的比赛并对所有注单全额退款。</p>
       <p>3.	本公司保留对主播比赛中的赛事，盘口和注单的取消/退款政策的最终解释权。</p>
      </div>
    </ul>
  </div>
</div>
